PORT=4000
FPL_API_BASE=https://fantasy.premierleague.com/api
CACHE_DIR=./.cache
CACHE_TTL_BOOTSTRAP_MS=1800000
CACHE_TTL_FIXTURES_MS=21600000
CACHE_TTL_ENTRY_MS=120000
FRONTEND_ORIGIN=http://localhost:5173
DEFAULT_TEAM_ID=8090938
